h1{
    font-size: 40px;
    margin: 1px
}
h4{
    color: blue;
    margin: 0
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: cadetblue;
}




.menu-dav a{
    color: white;

}

.titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;

    
}



.container{
    display: flex;
    flex-direction: row;
    gap: 30px;
    background-color: #eef2f7; /*fondo gris */
    padding: 30px;
    width: 1100px;
    margin: auto;

}

.cotizacion{
    flex: 2;
    background-color: white;
    border: 1px solid #e2e8f0;
    padding: 30px;
}

.total{
    flex: 1;
    background-color: white;
    border: 1px solid #e2e8f0;
    /*border-radius: 12px;*/
    padding: 25px;
}

.window{
    z-index: 10;
    position: absolute;
    background-color: grey;
    width: 300px;
    height: 150px;
    left: 0;
    right: 0;
    margin: 100px auto;
    
}

.windowHeader{
    display: flex;
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 30%;


}

.windowContent{
    background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-show{
    display: none;
}

.show{
    display: block;
}